form.loginCss {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 120px 0px 0px 0px;
}
form > p.User {
  font-size: 160%;
  margin: 30px 190px 0px 0px;
}
form > input.User {
  width: 250px;
}
form > div.errorUser {
  margin-bottom: -20px;
}
form > p.Pass {
  font-size: 160%;
  margin: 30px 145px 0px 0px;
}
form > input.Pass {
  width: 250px;
}
form > div.errorPass {
  margin-bottom: -20px;
}

form > div.flexButton {
  display: flex;
  flex-direction: row;
}
