div.box {
  background-color: #ccc;
  border-color: grey;
  height: 450px;
  margin-top: 60px;
}
div.profile {
  font-size: 5vw;
}
img.css {
  height: auto;
  max-width: 20%;
}
div.username {
  font-size: 3vw;
}
div.email {
  font-size: 2vw;
}
div.createdAt {
  font-size: 3vw;
}
