div.box {
  background-color: #ccc;
  border-color: grey;
  height: 500px;
  margin-top: 80px;
}
/* div.profile {
  background-color: #b4bbb8;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 1100px;
  margin: auto;
  margin-top: 100px;
  font-size: 150%;
}
div.profile > div.flexRow1 {
  display: flex;
  flex-direction: row;
}
div.profile > div.flexRow1 > h1 {
  margin: 20px 20px 20px 20px;
}
div.profile > div.flexRow1 > i.delete {
  color: red;
  margin-left: auto;
  margin-top: 25px;
  margin-right: 20px;
  font-size: 120%;
}
div.profile > div.flexRow1 > i.delete:hover {
  font-size: 140%;
  cursor: pointer;
}
div.profile > div.flexRow2 {
  display: flex;
}

div.profile > div.flexRow2 > img {
  margin: 15px 0px 0px 50px;
}
div.profile > div.flexRow2 > div.flexColumn {
  display: flex;
  flex-direction: column;
}
div.profile > div.flexRow2 > div.flexColumn > p.name {
  font-size: 120%;
  margin: 12px 0px 0px 0px;
}

div.profile > div.flexRow2 > div.flexColumn > p.email {
  font-size: 70%;
  margin: 0px 3px 3px 3px;
}

div.profile > p.createdat {
  font-size: 120%;
  padding: 20px 2px 2px 92px;
} */

@media only screen and (max-width: 400px) {
  div.profile {
    background-color: #b4bbb8;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 350px;
    margin: auto;
    margin-top: 50px;
    font-size: 80%;
  }

  div.profile > div.flexRow1 > h1 {
    font-size: 200%;
    margin: 20px 20px 20px 20px;
  }
  div.profile > div.flexRow1 > i.delete {
    color: red;
    margin-left: auto;
    margin-top: 25px;
    margin-right: 20px;
    font-size: 150%;
  }
  div.profile > div.flexRow2 > div.flexColumn > p.name {
    font-size: 160%;
    margin: 20px 0px 0px 0px;
  }

  div.profile > div.flexRow2 > div.flexColumn > p.email {
    font-size: 100%;
    margin: 0px 3px 3px 3px;
  }
  div.profile > p.createdat {
    font-size: 130%;
    padding: 20px 2px 2px 40px;
  }
}
